<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwig.admin.mappers.memberMapper">

	<insert id="memberInsert">
		insert into tbl_member (mem_id, mem_pw, mem_tel, mem_name, mem_zipcode, mem_addr, mem_email, mem_regdate, mem_grade, mem_reverse)
			values (#{mem_id}, #{mem_pw}, #{mem_tel}, #{mem_name}, #{mem_zipcode}, #{mem_addr}, #{mem_email}, sysdate, #{mem_grade}, #{mem_reverse})
	</insert>

</mapper>